#aboutFounders {
    padding: 30px !important;
}

#aboutHospital {
    padding: 30px !important;
}

.profile {
    border: none !important;
}

.profile h4 {
    padding: 2px !important;
}

.profile p {
    padding: 2px !important;
    margin: 0px !important;
}

.aboutImage {
    height: 430px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #097969;
    padding: 12px;
    width: 100%;
}

.founderImg {
    width: 100%;
    height: 350px;
}