#divLogo{
    position: relative;
    float: left;
    top: 5px;
    border: 2px solid greenyellow;
    height: auto;
}

#publicWebLayout .menuHeader {
    background: #097969 !important;
    height: 35px;
}

#publicWebLayout .ant-menu-dark {
    background: #097969 !important;
    height: 35px;
}

#publicWebLayout .ant-menu-dark li{
    top: -15px !important;
}

br {
    display: block;
    content: ""; 
    margin-top: 0;
}

.lblHead{
    font-weight: 800;
    font-size: 18px;
    color: #097969 !important;
}

.lblSubHead{
    top: -45px !important;
    font-size: 12px;
    position: relative;
    color: #484848 !important;
}

.headerTag{
    padding: 15px !important;
    float: right;
    font-weight: 800;
}

#logoHead{
    z-index: 99999 !important;
}

#menuHead{
z-index: 99999 !important;
}

#logoHead .ant-col{
    height: 80px !important;
}

#publicWebLayout .ant-menu-title-content{
 color: white !important;
}

  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    #publicWebLayout .ant-menu-dark {
        margin-left: -50px !important;
    }

    .ant-layout-content{
        padding: 0 10px !important;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {

}