#home .ant-card{
    margin-left: 20% !important;
    border: none !important;
}
.lblMainDetailsMid .gridStyleSpanRowMid{
    color: white !important;
    padding: 3px !important;
    font-weight: 400 !important;
}

.lblMainDetailsOth .gridStyleSpanRowLR{
    color:  	#484848 !important;
    padding: 3px !important;
    font-weight: 400 !important;
}

.lblMainDetailsMid .gridStyleSpanRowMid_Head{
    color: white !important;
    padding: 3px !important;
    font-weight: 400 !important;
}

.lblMainDetailsOth .gridStyleSpanRowLR_Head{
    color:  	#484848 !important;
    padding: 3px !important;
    font-weight: 400 !important;
}

.gridStyleLR{
    width: 25% !important;
    text-align: center !important;
    height: 100px !important;
    background: #DCDCDC !important;
    padding-top: 24px !important;
    padding-left: 4px !important;
}

.gridStyleCenter{
    width: 25% !important;
    text-align:  center !important;
    height: 100px !important;
    background: #097969 !important;
}
